{% load static %}
{% load widget_tweaks %}
<html>
<head>
    <meta charset='utf-8'/>
    <title>うちの技術書検索くん</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">うちの技術書検索くん</a>
            </div>
        </nav>
    </header>
    <main>
        <form method="GET" action="{% url 'book:index' %}" class="table">
            <div class="input-group">
                <input type="search" class="form-control" name="keyword" type="text" placeholder="フリーワード">
                <button type="submit" class="btn btn-outline-success">検索</button>
            </div>
                <div class="text-end">
                  <a href="./zenbu">すべてを表示する</a>
                </div>
        </form>
    </main>

    {% block content %}{% endblock %}
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>